    .active {
        /* background-color: #5761ff; */
    }
    
    .make-style-form {
        box-shadow: 0px 6px 23px -2px rgb(0 0 0 / 27%);
        background-color: #FFFFFF !important;
        padding: 12px 12px 10px 12px;
        border-radius: 15px;
    }
    
    textarea#input_text {
        text-align: center;
        width: 100%;
        background: #f5f5f5;
        border-radius: 15px;
        border: 1px solid #b9b9b9;
        padding-top: 2em;
    }
    
    .bg-none {
        background-color: white !important;
    }
    
    .size_style label {
        color: #6A6A6A;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .size_box {
        /* margin: 5px; */
        padding: 0 10px;
        border: 0px;
        /* border: 2px solid #e7e6e6; */
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        border-radius: 15px;
        font-size: 1.1rem !important;
        cursor: pointer;
    }
    
    .size_box strong {
        font-size: 0.8rem;
    }
    
    .size_box h5 {
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    .size_sec_right {
        text-align: right;
    }
    
    .size_sec_right strong {
        font-size: 0.8rem;
        font-weight: 500;
    }
    
    .size_box:hover {
        background-color: white;
    }
    
    .active_style {
        border: 1px solid #FF7AC7 !important;
        background-color: white !important;
    }